<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, shrink-to-fit=no">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- CSRF Token -->
    <meta name="csrf-token" content="iEodzXuskHONsH7jrJ20Ms9J69WCJ4Cbse51LKa6">
    <title> Laravel </title>
    <link href="/css/app.css" rel="stylesheet">
    <!-- Scripts -->
    <script>
      window.Laravel = {
        "csrfToken": "iEodzXuskHONsH7jrJ20Ms9J69WCJ4Cbse51LKa6"
      };
    </script>
    <script src="/js/app.js"></script>
</head>

<body>
<header>
    <h3>header</h3>
</header>
<main>
