<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>design</title>
    <link href="css/app.css" rel="stylesheet" type="text/css"> </head>

<body>
    <div class="container">
        <main>
            <h1>design</h1>
            <ul>
                <li><a href="/books">books</a></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </main>
    </div>
</body>

</html>